/* IMAGES */

* {
	box-sizing: border-box;
}

html {
	background-color: white;
}

body {
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;	
	margin: 0;
	padding: 0.5em;
	color: white;
	background-color: lightpink;
	min-height: 100vh;
	line-height: 1.2;
}

header {
	margin-top: 10em;
	padding: 0.5em;
}

header img {
	width: 90%;
}

footer {
	padding: 0.5em;
	text-align: center;
}

figure {
	margin: 0;
	padding: 0.5em;
	width: calc(25% - 1em);
}

h1 {
	position: fixed;
    top: 0.1em;
    left: -0.4em;
    text-align: center;
    font-size: 5em;
    mix-blend-mode: color-dodge;
    color: pink;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    transform: rotate(-40deg);
}

img {
	width: 400%;

}

main {

}

p {
	font-family: "Lucida Sans Typewriter";
	font-size: 1.5em;
}